.logout-button {
    background-color: #e74c3c;
    /* Bright red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.logout-button:hover {
    background-color: #c0392b;
    /* Darker red */
    transform: scale(1.05);
}