/* .note-container {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.note-container {
    padding: 20px;
    margin: 20px auto; /* Center the note container horizontally */
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px; /* Set a maximum width */
    width: 100%; /* Ensure the container does not exceed the maximum width */
}

.note-title {
    color: #2c3e50;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.note-content {
    color: #34495e;
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: center;
}

.note-date {
    color: #7f8c8d;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.delete-button {
    background-color: #e74c3c;
    /* Bright red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.delete-button:hover {
    background-color: #c0392b;
    /* Darker red */
    transform: scale(1.05);
}